
* {
  margin: 0;
  padding: 0;
  color: $white-color;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: $main-background-color;
  color: $white-color;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}