
* {
  margin: 0;
  padding: 0;
  color: $white-color;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: $main-background-color;
  color: $white-color;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .swal2-popup {
    width: 85%;
    margin: 0 auto;
  }

  .swal2-title {
    font-size: 20px;
  }

  .swal2-container {
    margin: 0;
    padding: 0;
  }

  .swal2-input {
    width: 200px;
    margin: 10px 10px;
    font-size: 18px;
  }
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-Regular.ttf') format('TrueType');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-SemiBold.ttf') format('TrueType');
  font-weight: 600;
  font-style: normal;
}