

$main-background-color: #e8eaea;
$gray-color: #262626;
$light-gray-color: #6f6868;
$white-color: #ffff;
$black-color: #111111;
$green-color: #00962a;
$light-black-color: #1b1919;
$red-color: #ff0000;
$blue-color: rgb(57, 191, 239);
$border-radius: 10px;
