
:root {
  --main-background-color: rgb(68, 200, 191);
  --gray-color: #262626;
  --light-gray-color: #6f6868;
  --white-color: #ffff;
  --black-color: #000000;
  --light-black-color: #1b1919;
  --red-color: #be0202;
  --blue-color: rgb(28, 178, 233);
  --blue-deep-color: rgb(67, 55, 204);
  --border-radius: 10px;
}
